name: ci

on:
  push:
    paths:
      - "**.py"
      - ".github/workflows/ci.yml"


jobs:

  core:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, macos-latest, ubuntu-latest]
        python-version: ['3.10', '3.x']

    steps:
    - uses: actions/checkout@v6

    - uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}

    - run: pip install .[tests,lint]

    - run: flake8

    - run: mypy --install-types --non-interactive

    - run: pytest
